* {
    box-sizing: border-box;
    font-family: Proxima, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 50px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    background-color: #ff5252;
    /* background-color: linear-gradient(#ff5252, #388e3c); */
    padding: 20px;
    margin-bottom: 10px;
}



a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
  }

body{
    background-color: #388E3C;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
  }
  
  input{
    margin-top: .5rem;
    font: 15px;
  }
  
  input::placeholder{
    font-weight: bold;
    opacity: .5;
    color: #c92020;
    font-size: 12px;
  }
  
  .search {
    flex-basis: 30%;
    margin-right: 0px;
  }

  .dropdown-trigger {
    font-weight: bold;
    opacity: .5;
    font-size: 12px;
    color: #c92020;
    background-color: #388E3C;
    outline: whitesmoke solid;
  }

  .material-icons{
    background-image: url("Images/Bike\ Icon.png");
    background-image: url("Images/Walking\ Icon.png");
  }
.btn{
    border-radius: 10px;
}

#dropdown1 {
    font-size: 12px;
    font-weight: bold;
    opacity: .5;
}
#search-btn{
    font-weight: bold;
    opacity: .5;
    font-size: 20px;
    color: #c92020;
    background-color: #388E3C;
    /* outline: black solid; */
}
/* :: placeholder{

} */