* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.uk-navbar-container {
  text-align: center;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(235, 93, 93) !important;
  color: whitesmoke;
  padding: 20px;
  margin-bottom: 10px;
}

.uk-logo {
  color: whitesmoke;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.nav-link {
  color: whitesmoke !important;
  font-size: 15px !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

body {
  background-color: whitesmoke;
}

input {
  margin-top: .5rem;
  font: 15px;
}

input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: grey;
  font-size: 20px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.form {
  min-width: 50%;
}

#icon img {
  width: 300px;
  height: 300px;
}

  .search {
    display: flex;
    flex-basis: 30%;
    margin-right: 0px;
    min-width: 100%;
    padding-bottom: 30px;
    
  }
  
  .search input {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(95, 93, 235);
    color: white;
    cursor: pointer;
  }

#search-btn {
  width: 82%;
  padding: 20px;
  font-size: 30px;
}

.search button:hover {
  background-color: rgb(235, 93, 93);
  ;
}

.history {
  width: 100%;
  padding: 20px;
  background-color: rgba(240, 168, 35, 0.329);
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

.history h4 {
  text-align: center;
}

  .history h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .history ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .history li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #your-name, #your-weight, #activity, #starting-point, #ending-point {
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    opacity: .9;
    color: grey;
    font-size: 20px;
  }

#history-list li button {
  width: 80%;
}

  #activity {
    padding: 10px; 
    width: 80%;
    border: 1px solid block;
    border-radius: 5px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M422.7 213.3c-4.7-4.7-12.3-4.7-17 0L256 352 106.3 213.3c-4.7-4.7-12.3-4.7-17 0s-4.7 12.3 0 17l149.3 149.3c4.7 4.7 12.3 4.7 17 0l149.3-149.3c4.6-4.6 4.6-12.3-.2-16.9z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;


}

.previous-burns {
  width: 100%;
  margin: 0;
  padding: 0;

}

.previous-burns h2 {
  text-align: center;

}

.previous-burns table {
  width: 100%;
  border-collapse: collapse;

}

.previous-burns th,
.previous-burns td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ccc;

}

.previous-burns th {
  background-color: #f2f2f2;
}

/* 
.dropdown-trigger { 
  font-weight: bold;
  opacity: .5;
  font-size: 22px;
  color: grey;
  background-color: white;
  outline: black solid; */own
}  */
#userName {
  text-align: center;
  font-size: 40px;
}


  /* form {
    display: flex;
    justify-content: flex-start;
  }
  
  /* #search-input {
    margin-right: 10px;
  }
  
  #search-button {
    margin-right: 10px;
  }
  
  #search-history {
    margin-top: 10px;
    padding-left: 0;
    list-style-type: none;
  } */ 



  @media only screen and (max-width: 600px){
    #header{
        background-image: url(Images/Header.jpeg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
        
    }
    .sub-title{
        font-size: 55px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        margin: 30px;
        font-size: 35px;
    }
    .tab-links{
        margin: 20px;
        font-size: 45px;
    }
    .work-list div{
        flex-basis: 100%;
    
    }
    .work-list div p{
        font-size: 30px;
        display: inline-block;
    }
    .contact-left{
        flex-basis: 100%;
        margin: 70px;
        
    }
    .contact-left p{
        font-size: 45px;
    }
    .contact-right form{
        font-size: 45px;
    }
    /* .contact-left p{ */
        /* {font-size: 40px; */

        /* } */

}

#userCalories {
  text-align: center;
}

