* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

header {
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(235, 93, 93);
    color: whitesmoke;
    padding: 20px;
    margin-bottom: 10px;
}

body{
  background-color: green;
}

input{
  margin-top: .5rem;
  font: 15px;
}

input::placeholder{
  font-weight: bold;
  opacity: .5;
  color: #ff5252;
  font-size: 20px;
}

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search {
    flex-basis: 30%;
    margin-right: 0px;
  }
  
  .search input {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(95, 93, 235);
    color: white;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: rgb(235, 93, 93);;
  }

  .weather {
    flex-basis: 65%;
  }
  
  #current-weather {
    margin-bottom: 20px;
  }
  
  #current-weather h2 {
    font-size: 36px;
  }
  
  #current-weather img {
    vertical-align: middle;
  }
  
  #current-weather p {
    font-size: 24px;
    margin-top: 10px;
  }
  
  #forecast {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }
  
  .forecast-item {
    flex-basis: calc(20% - 10px);
    margin-bottom: 20px;
    background-color: rgb(3, 3, 78);
    color: whitesmoke;
    border: 2px solid black;
  }
  
  .forecast-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .forecast-item img {
    vertical-align: middle;
  }
  
  .history {
    flex-basis: 30%;
  }
  
  .history h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .history ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .history li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .history li:hover {
    text-decoration: underline;
  }

  #your-name, #your-weight, #activity, #starting-point, #ending-point {
    border: 1px solid black;
    margin: 10px;
  }

  #history-list li button {
    width: 80%;
  }

  #activity {
    padding: 10px;
    width: 80%;
    border: 1px solid block;
    border-radius: 5px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M422.7 213.3c-4.7-4.7-12.3-4.7-17 0L256 352 106.3 213.3c-4.7-4.7-12.3-4.7-17 0s-4.7 12.3 0 17l149.3 149.3c4.7 4.7 12.3 4.7 17 0l149.3-149.3c4.6-4.6 4.6-12.3-.2-16.9z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.5em;
}
  

  /* Move search field, search button, and history to the left
form {
    display: flex;
    justify-content: flex-start;
  }
  
  #search-input {
    margin-right: 10px;
  }
  
  #search-button {
    margin-right: 10px;
  }
  
  #search-history {
    margin-top: 10px;
    padding-left: 0;
    list-style-type: none;
  } */
  
  